/* @media screen and (max-width: 768px) {
 
.image1 {
  position: relative;
  width: 70vw;
}
 
} */

/* Total height of Ocean Container - 67824px
Number of sharks = 70
There is 955.2676px or 955px for each shark

Accounting some free space, say the space of 71 more sharks
Each division required will have 477.6338px or 478px */

html{
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
  /* background-image: url("./assets/sharkposter-bg.jpg"); */
  /* background-size: cover; */
  /* background-color: lightblue; */
  max-width: 100%;
  /* background-repeat: no-repeat; */
}


/* height: 1902px; */
/* display: inline; */
.image {
  background-image: url('./assets/sharkPoster_header_01.jpg');
  height: 1000px;
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.image1 {
  position: relative;
  width: 50vw;
  top: 100px;
  left: 20px;
  
}

.wf1 {
  position: relative;
  width: 15vw;
  top: 100px;
  left: 1020px;
  
}

.wf2 {
  position: relative;
  width: 16vw;
  top: 290px; 
}

.wf3 {
  position: relative;
  width: 26vw;
  top: 10px;  
  left: 1025px;
}

.line {
  position: absolute;
  left: 5px;
  top: 785px;
  height: 80%;
}
.line1 {
  position: absolute;
  left: 13px;
  top: 1252px;
  height: 300%;
}
.home-container{
  position: relative;
  top: 120px;
}

p {
  position: relative;
  top: 120px;
  left: 100px;
  font-size: 1.5rem;
  /* margin-left: 120px; */
  width: 60vw;
  /* margin-right: 700px; */
  font-family: 'Times New Roman', Times, serif;
  
}

.first-page-offset div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.depth-line {
  text-align: center;
  position: fixed;
  bottom: 25vh;
  width: 100%;
  border-bottom: 1px dashed;
  font-weight: 700;
  font-size: 28px;
  transition: opacity .3s ease-in-out;
  opacity: 0;
  color: white;
}

.marking{
  color: white;
  position: relative;
  top: 1000px;
  margin-left: 8px;
  width: 100px;
}

#sunlight-zone {
  height: 20000px;
  /* background-color: transparent; */
  background-image:  linear-gradient(180deg, #459DA9, #153338);
  /* position: absolute; */
  width: 100%;
  /* top: 1130px;  */
}

#twilight-zone{
  /* background-color: #0e0a01; */
  background-image:  linear-gradient(180deg, #153338, rgb(0, 0, 0) );
  height: 80000px;
  color: white;
  /* position: relative; */
  /* top: 2550px; */
}
.zone {
 font-size: 2rem;
 /* color: white; */
}
#midnight-zone{
  color: white;
  background-color: #0e0a01;
  height: 120000px;
  /* position: relative; */
  /* top: 2550px; */
}

.img{
  position: absolute;
  height: 478px;
  width: 700px;
}

.ocean-bottom {
  background: linear-gradient(180deg, #ede5ce, #b5ad9a);
  height: 40vh;
  width: 100%;
}

#depth-bar{
  border-left: 5px solid white;
  margin-left: 25px;
  position: absolute;
  z-index: 10;
}

.zone-container{
  display: flex;
  text-align: center;
  justify-content: center;
}
